* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100%;
    margin: 10px 10px 10px 10px;

    flex-grow: 1;
    gap: 25px;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    
}

.sidebar-l {
    width: 280px;
    /* height: 100%; */
    background-color: skyblue;
    padding: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
    
}

.sidebar-r {
    width: 280px;
    /* height: 100%; */
    background-color: grey;
    padding: 15px 15px 15px 15px;

    display: flex;
    flex-direction: column;

    flex-grow: 0.1;
}

.content {
    width: 280px;
    /* height: 745px; */
    background-color: skyblue;

    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-items: center;
    padding: 10px 10px 10px 10px;
}

#menu-text {
    font-size: 15px;
}

.icon {
    font-size: 40px;
}


header {
    background-color: purple;
    padding: 10px 10px 10px 10px;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 250px;
    height: 100px;

    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

a {
    list-style: none;
    text-decoration: none;
}

ul {
    padding: 20px;
}

footer {
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: purple;
}
